@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Cart Info
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

#cart *
{
	/*margin: 0;*/
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body #cart
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
#cart{
	width:80%;
	margin: 0 auto;
}
#cart div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cart ul
{
	list-style: none;
	margin-bottom: 0px;
}
#cart p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #6c6a74;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
#cart p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart p:last-of-type
{
	margin-bottom: 0;
}
#cart a, #cart a:hover, #cart a:visited, #cart a:active, #cart a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
#cart p a:active
{
	position: relative;
	color: #FF6347;
}
#cart p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
#cart p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
#cart h1{font-size: 48px;}
#cart h2{font-size: 36px;}
#cart h3{font-size: 24px;}
#cart h4{font-size: 18px;}
#cart h5{font-size: 14px;}
#cart h1, #cart h2, #cart h3, #cart h4, #cart h5, #cart h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
#cart .form-control
{
	color: #db5246;
}
#cart section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
#cart .clear
{
	clear: both;
}
#cart .clearfix::before, #cart .clearfix::after
{
	content: "";
	display: table;
}
#cart .clearfix::after
{
	clear: both;
}
#cart .clearfix
{
	zoom: 1;
}
#cart .float_left
{
	float: left;
}
#cart .float_right
{
	float: right;
}
#cart .trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#cart .trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
#cart .trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#cart .fill_height
{
	height: 100%;
}
#cart .super_container
{
	width: 100%;
	overflow: hidden;
}
#cart .prlx_parent
{
	overflow: hidden;
}
#cart .prlx
{
	height: 130% !important;
}
#cart .parallax-window
{
    min-height: 400px;
    background: transparent;
}
#cart .nopadding
{
	padding: 0px !important;
}
#cart .button
{
	width: 178px;
	height: 61px;
	background: none;
	text-align: center;
	border: solid 2px #1b1b1b;
	overflow: hidden;
	cursor: pointer;
}
#cart .button a
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #1b1b1b;
    z-index: -1;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
#cart .button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#cart .button_light
{
	border: solid 2px #FFFFFF;
}
#cart .button_light::after
{
	background: #FFFFFF;
}
#cart .button_light a
{
	color: #FFFFFF;
}
#cart .button:hover a
{
	color: #FFFFFF;
}
#cart .button_light:hover a
{
	color: #1b1b1b;
}

/*********************************
3. Header
*********************************/

#cart .header
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
#cart .header_container
{
	width: 100%;
	z-index: 1;
	background: #FFFFFF;
}
#cart .header_content
{
	width: 100%;
	height: 130px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .header.scrolled .header_content
{
	height: 70px;
}
#cart .logo a
{
	font-size: 30px;
	font-weight: 700;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .header.scrolled .logo a
{
	font-size: 24px;
}
#cart .main_nav
{
	margin-left: 156px;
}
#cart .main_nav > ul > li
{
	display: inline-block;
	position: relative;
}
#cart .main_nav > ul > li:not(:last-child)
{
	margin-right: 46px;
}
#cart .main_nav > ul > li > a
{
	font-size: 16px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .main_nav > ul > li > a:hover,
#cart .main_nav > ul > li.active > a
{
	color: #1b1b1b;
}
#cart .main_nav ul li.hassubs::after
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(100% + 3px);
	font-family: 'FontAwesome';
	font-size: 10px;
	content: '\f078';
	color: #767676;
}
#cart .main_nav ul li:hover::after,
#cart .main_nav ul li.active::after
{
	color: #1b1b1b;
}
#cart .hassubs ul
{
	position: absolute;
	right: -15px;
	top: calc(100% + 20px);
	text-align: right;
	background: #FFFFFF;
	padding-right: 25px;
	padding-left: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .hassubs:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 0px);
}
#cart .hassubs ul li:not(:last-child)
{
	margin-bottom: 11px;
}
#cart .hassubs ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .hassubs ul li a:hover
{
	color: #1b1b1b;
}
.header_extra
{

}
#cart .shopping_cart
{
	display: inline-block;
}
#cart .shopping_cart a svg
{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .shopping_cart a:hover svg,
#cart .shopping_cart a:hover div
{
	fill: #e95a5a;
	color: #e95a5a;
}
#cart .shopping_cart a div
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	margin-left: 13px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .shopping_cart a div span
{
	margin-left: 4px;
}
#cart .search
{
	display: inline-block;
	margin-left: 51px;
	cursor: pointer;
	vertical-align: sub;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
}
#cart .search_icon
{
	width: 13px;
	height: 13px;
}
#cart .search_icon svg
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .search_icon:hover svg
{
	fill: #e95a5a;
}
#cart .hamburger
{
	display: none;
	margin-left: 30px;
	cursor: pointer;
	margin-right: 4px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
#cart .hamburger i
{
	font-size: 18px;
	color: #1b1b1b;
}
#cart .search_panel
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #e4e4e4;
	z-index: -1;
}
#cart .search_panel.active
{
	bottom: -80px;
}
#cart .search_panel_content
{
	height: 80px;
}
#cart .search_input
{
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 3px;
	padding-left: 20px;
}
#cart .search_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
#cart .search_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
#cart .search_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
} 
#cart .search_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
#cart .search_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
#cart .header_social
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 60px;
	z-index: 1;
	margin-right: -5px;
}
#cart .header_social ul li
{
	display: inline-block;
}
#cart .header_social ul li:not(:last-child)
{
	margin-right: 18px;
}
#cart .header_social ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .header_social ul li a i:hover
{
	color: #1b1b1b;
}

/*********************************
4. Menu
*********************************/

#cart .menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #e4e4e4;
	z-index: 101;
}
#cart .menu.active
{
	right: 0;
}
#cart .menu_container
{
	width: 100%;
	height: 0px;
	padding-top: 130px;
}
#cart .menu.active .menu_container
{
	height: 500px;
}
#cart .page_menu_content
{
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
	text-align: right;
}
#cart .page_menu_search
{
	display: none;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.page_menu_nav
{

}
#cart .page_menu_search_input
{
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: none;
	outline: none;
	padding-left: 25px;
}
#cart .page_menu_item
{
	display: block;
	position: relative;
	vertical-align: middle;
}
#cart .page_menu_nav > li
{
	border-bottom: solid 1px rgba(0,0,0,0.2);
}
#cart .page_menu_item > a
{
	display: block;
	color: #1b1b1b;
	font-weight: 700;
	line-height: 50px;
	height: 50px;
	font-size: 16px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .page_menu_item > a:hover
{
	color: #c3c1cc;
}
#cart .page_menu_item a i
{
	display: none;
	margin-left: 8px;
}
#cart .page_menu_item.has-children > a > i
{
	display: inline-block;
}
#cart .page_menu_selection
{
	margin: 0;
	width: 100%;
	height: 0px;
	overflow: hidden;
	z-index: 1;
}
#cart .page_menu_selection li
{
	padding-right: 15px;
	line-height: 40px;
}
#cart .page_menu_selection li:last-child
{
	padding-bottom: 20px;
}
#cart .page_menu_selection li a
{
	display: block;
	color: #1b1b1b;
	border-bottom: solid 1px rgba(0,0,0,0.2);
	font-size: 14px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
#cart .page_menu_selection li a:hover
{
	color: #c3c1cc;
}
#cart .page_menu_selection li:last-child a
{
	border-bottom: none;
}
#cart .menu_social
{
	position: absolute;
	right: 30px;
	bottom: 15px;
}
#cart .menu_social ul li
{
	display: inline-block;
}
#cart .menu_social ul li:not(:last-child)
{
	margin-right: 18px;
}
#cart .menu_social ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .menu_social ul li a i:hover
{
	color: #1b1b1b;
}
#cart .menu_close
{
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}
#cart .menu_close i
{
	font-size: 16px;
	color: #1b1b1b;
	padding: 5px;
}

/*********************************
5. Home
*********************************/

#cart .home
{
	width: 100%;
	height: 362px;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 60px;
	padding-right: 60px;
}
#cart .home_container
{
	width: 100%;
	height: 100%;
}
#cart .home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#cart .home_content_container
{
	position: absolute;
	top: 53%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
#cart .home_content
{
	width: 580px;
}
#cart .breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #e95a5a;
}
#cart .breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 10px;
	margin-right: 6px;
	color: #FFFFFF;
}
#cart .breadcrumbs ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .breadcrumbs ul li a:hover
{
	color: #e95a5a;
}

/*********************************
6. Cart Info
*********************************/

#cart .cart_info
{
	width: 100%;
	background: #FFFFFF;
	/*padding-top: 96px;*/
	padding-top:0px;
	z-index: 2;
}
#cart .cart_info_columns
{
	width: 100%;
	border-bottom: solid 2px #e3e3e3;
	padding-bottom: 7px;
}
#cart .cart_info_col
{
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
#cart .cart_info_col_product
{
	/*width: 63%;*/
	width:50%;
}
#cart .cart_info_col_price
{
	width: 20%;
}
#cart .cart_info_col_quantity
{
	width: 17%;
	text-align: center;
}
#cart .cart_info_col_total
{
	width: 10%;
	text-align: right;
}
#cart .cart_item
{
	/*padding-top: 33px;
	padding-bottom: 33px;*/
	padding-top: 5px;
	padding-bottom:5px;
}
#cart .cart_item_product
{
	/*width: 63%;*/
	width:50%;
}
#cart .cart_item_price
{
	/*width: 10%;*/
	width:20%;
}
#cart .cart_item_quantity
{
	width: 17%;
	text-align: center;
}
#cart .cart_item_total
{
	width: 10%;
	text-align: right;
}
#cart .cart_item_image div
{
	width: 183px;
	/*
	height: 163px;*/
}
#cart .cart_item_image div img
{
	max-width: 100%;
}
#cart .cart_item_name_container
{
	padding-left: 36px;
}
#cart .cart_item_name a
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .cart_item_name a:hover
{
	color: #e95a5a;
}
#cart .cart_item_edit
{
	margin-top: 3px;
}
#cart .cart_item_edit a
{
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .cart_item_edit a:hover
{
	color: #1b1b1b;
}
#cart .cart_item_price
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.product_quantity_container
{
	
}
#cart .product_quantity
{
	display: inline-block;
	width: 147px;
	height: 61px;
	border: solid 2px #d0d0d0;
	overflow: hidden;
	padding-left: 78px;
	vertical-align: middle;
}
#cart .product_quantity span
{
	position: absolute;
	top: 50%;
	left: 23px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 600;
	color: #6c6a74;
}
#cart .product_quantity input
{
	display: block;
	width: 30px;
	height: 57px;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	color: #1b1b1b;
	text-align: left;
	padding-left: 9px;
	line-height: 39px;
	float: left;
}
#cart .quantity_buttons
{
	position: absolute;
	top: 0;
	right: 1px;
	height: 100%;
	width: 29px;
}
#cart .quantity_inc, 
#cart .quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
#cart .quantity_control i
{
	font-size: 10px;
	color: #232323;
	pointer-events: none;
}
#cart .quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
#cart .quantity_inc
{
	padding-bottom: 3px;
	justify-content: flex-end;
}
#cart .quantity_inc i
{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
#cart .quantity_dec
{
	padding-top: 3px;
	justify-content: flex-start;
}
#cart .quantity_dec i
{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
#cart .cart_item_total
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
#cart .row_cart_buttons
{
	margin-top: 21px;
}
#cart .continue_shopping_button
{
	width: 261px;
}
#cart .clear_cart_button,
#cart .update_cart_button
{
	display: inline-block;
}
#cart .update_cart_button
{
	margin-left: 16px;
}
#cart .row_extra
{
	margin-top: 106px;
	padding-bottom: 100px;
}
#cart .delivery
{
	width: 100%;
}
#cart .section_title
{
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
}
#cart .section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
}
#cart .delivery_options
{
	margin-top: 38px;
}
#cart .delivery_option
{
	display: block;
	position: relative;
	padding-left: 36px;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 400;
    color: #1b1b1b;
}
#cart .delivery_option:not(:last-child)
{
	margin-bottom: 27px;
}
#cart .delivery_option input
{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
#cart .checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 4px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: solid 2px #9f9f9f;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .delivery_option input:checked ~ .checkmark
{
	background: #e95a5a;
	border: solid 2px #e95a5a;
}
#cart .delivery_option input:hover ~ .checkmark
{
	background: #e95a5a;
}
#cart label
{
	margin-bottom: 0;
}
#cart .delivery_price
{
	float: right;
}
#cart .coupon
{
	margin-top: 83px;
}
#cart .coupon_form_container
{
	margin-top: 42px;
	width: 100%;
}
#cart .coupon_form
{
	position: relative;
	width: 100%;
}
#cart .coupon_input
{
	width: 100%;
	height: 52px;
	border: none;
	outline: none;
	background: #f2f4f8;
	padding-left: 15px;
}
#cart .coupon_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 112px;
	height: 52px;
}
#cart .coupon_button span
{
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	z-index: 2;
}
#cart .coupon_button:hover span
{
	color: #FFFFFF;
}
#cart .cart_total_container
{
	margin-top: 42px;
	padding-left: 45px;
	padding-top: 20px;
	padding-right: 44px;
	padding-bottom: 19px;
	background: #f2f4f8;
}
#cart .cart_total_container ul
{
	width: 100%;
}
#cart .cart_total_container ul li
{
	width: 100%;
	height: 48px;
}
#cart .cart_total_title
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
#cart .cart_total_value
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
	float: right;
}
#cart .checkout_button
{
	width: 100%;
}

/*********************************
7. Footer
*********************************/

#cart .footer_overlay
{
	width: 100%;
	height: 129px;
	background: transparent;
	z-index: 1;
}
#cart .footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
#cart .footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#cart .footer_content
{
	width: 100%;
	height: 129px;
}
#cart .footer_logo
{
	width: 30%;
}
#cart .footer_logo a
{
	font-size: 30px;
	line-height: 0.75;
	color: #1b1b1b;
	font-weight: 700;
}
#cart .copyright
{
	width: 40%;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
#cart .footer_social
{
	width: 30%;
	text-align: right;
}
#cart .footer_social ul li
{
	display: inline-block;
}
#cart .footer_social ul li:not(:last-child)
{
	margin-right: 26px;
}
#cart .footer_social ul li a i
{
	font-size: 17px;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#cart .footer_social ul li a i:hover
{
	color: #FFFFFF;
}